In [1]:
import warnings
warnings.filterwarnings('ignore')
import os
import pandas as pd

In [2]:
datasets_base_path = ".\\ClustersCSV\\"
parsed_path = ".\\ClustersCSV-Parsed\\"

In [3]:
cluster_datasets_path = {}
for cluster_folder_name in os.listdir(datasets_base_path):
    cluster_path = os.path.join(datasets_base_path, cluster_folder_name)
    cluster_datasets_path[cluster_folder_name] = {}
    for filename in os.listdir(cluster_path):
        dataset_path = os.path.join(cluster_path, filename)
        cluster_datasets_path[cluster_folder_name][dataset_path] = os.path.splitext(filename)[0]

In [ ]:
d = {}
for cluster, paths in cluster_datasets_path.items():
    for path, filename in paths.items():
        df = pd.read_csv(path)
        display(df)
        d[path] = input()

,Name,Industry,Headquarter,Ownership,Foundation Year
0,TCS,IT Services & Consulting,"Mumbai, Maharashtra, India",Public,1968 (55 yrs old)
1,Accenture,IT Services & Consulting,"Dublin, Ireland",Public,1989 (34 yrs old)
2,Cognizant,IT Services & Consulting,"Teaneck. New Jersey., United States (USA)",Private,1994 (29 yrs old)
3,ICICI Bank,Banking,"Mumbai, Maharashtra, India",Public,1994 (29 yrs old)
4,HDFC Bank,Banking,"Mumbai, Maharashtra, India",Public,1994 (29 yrs old)
...,...,...,...,...,...
9894,Sterling Gtake E-Mobility,Auto Components,NaN,NaN,NaN
9895,Ashv Finance,NaN,NaN,NaN,NaN
9896,Wunderman Thompson Commerce,IT Services & Consulting,"Watford, United Kingdom (UK)",Private,1989 (34 yrs old)
9897,Optimus Pharma,Healthcare / Pharma,NaN,NaN,NaN
9898,SHOW OFF RETAIL,Retail,"Delhi,NCT, India",NaN,2016 (7 yrs old)

Foundation Year es. 1968 (55 yrs old)

,URL,ID,Name,Code,Legal form,Status,Registration Date,Capital,Address,Deletion Date
0,https://ariregister.rik.ee/eng/company/1431887...,1,10DspaceOÃÅ(14318875),14318875.0,Private limited company,Deleted,25.08.2017,NaN,NaN,29.05.2020
1,https://ariregister.rik.ee/eng/company/1627029...,2,21SparrowsOÃÅ(16270291),16270291.0,Private limited company,Enteredintotheregister,14.07.2021,Capitalis10ÃÂ 000ÃÂ Ã¢âÂ¬,Harju maakond Tallinn ...,NaN
2,https://ariregister.rik.ee/eng/company/1245463...,3,3DSTOÃÅ(12454634),12454634.0,Private limited company,Enteredintotheregister,15.04.2013,Capitalis2ÃÂ 500ÃÂ Ã¢âÂ¬,Harju maakond Tallinn ...,NaN
3,https://ariregister.rik.ee/eng/company/1486710...,4,8BitsSpaceOÃÅ(14867109),14867109.0,Private limited company,Enteredintotheregister,11.12.2019,Capitalis2ÃÂ 500ÃÂ Ã¢âÂ¬,Harju maakond Tallinn ...,NaN
4,https://ariregister.rik.ee/eng/company/1645110...,5,A1EhituspartnerOÃÅ(16451101),16451101.0,Private limited company,Enteredintotheregister,28.02.2022,Capitalis2ÃÂ 500ÃÂ Ã¢âÂ¬,PÃÂµlva maakond PÃÂµ...,NaN
...,...,...,...,...,...,...,...,...,...,...
1464,https://ariregister.rik.ee/eng/company/1165596...,1465,OÃÅYESPARMÃâÃâBEL(11655968),11655968.0,Private limited company,Enteredintotheregister,10.06.2009,Capitalis2ÃÂ 520ÃÂ Ã¢âÂ¬,Tartu maakond Tartu li...,NaN
1465,https://ariregister.rik.ee/eng/company/1132968...,1466,OsaÃÂ¼hingYespartner(11329683),11329683.0,Private limited company,Deleted,11.12.2006,NaN,NaN,19.10.2011
1466,https://ariregister.rik.ee/eng/company/1227478...,1467,YespartnerOÃÅ(12274783),12274783.0,Private limited company,Deleted,30.04.2012,NaN,NaN,07.07.2017
1467,https://ariregister.rik.ee/eng/company/1172619...,1468,YespatronOÃÅ(11726199),11726199.0,Private limited company,Deleted,28.09.2009,NaN,NaN,04.07.2013
1468,https://ariregister.rik.ee/eng/company/1469261...,1469,YKSEhituspartnerOÃÅ(14692616),14692616.0,Private limited company,Enteredintotheregister,28.03.2019,Capitalis2ÃÂ 508ÃÂ Ã¢âÂ¬,Harju maakond Tallinn ...,NaN

URL, ID e Code presenti; Registration Date e Deletion Date formato 28.09.2009

,Unnamed: 0,name,valuation,dateJoined,country,city,industry,investors,founded,stage,totalRaised
0,0,Lacework,$8.3B,1/7/2021,United States,San Jose,Cybersecurity,"Sutter Hill Ventures, Liberty Global Ventures,...",2015,Series E,$1.907B
1,1,Tipalti,$8.3B,10/6/2020,United States,San Mateo,Fintech,"01 Advisors, Zeev Ventures, Group 11",2010,Series F,$556M
2,2,Tempus,$8.1B,3/21/2018,United States,Chicago,Health,"New Enterprise Associates, T. Rowe Associates,...",2015,Unattributed - II,$1.345B
3,3,Anduril,$8.48B,9/11/2019,United States,Irvine,Artificial intelligence,"Andreessen Horowitz, Founders Fund, Revolution...",2017,Series E,$2.309B
4,4,Bolt,$8.4B,5/29/2018,Estonia,Tallinn,Auto & transportation,"Didi Chuxing, Diamler, TMT Investments",2013,Series F,$1.971B
...,...,...,...,...,...,...,...,...,...,...,...
1180,1180,SpaceX,$127B,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,Unattributed - VIII,$9.704B
1181,1181,Fanatics,$31B,6/6/2012,United States,Jacksonville,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H...",1995,Series I,$4.89B
1182,1182,Instacart,$39B,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","Khosla Ventures, Kleiner Perkins Caufield & By...",2012,Series I,$2.686B
1183,1183,Databricks,$38B,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates...",2013,Corporate Minority,$3.497B
1184,1184,Stripe,$95B,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,Corporate Minority - II,$2.901B

Unnamed: 0; dateJoined formato 2/5/2019

,company,valuation,datejoined,country,city,industry,selectinvestors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1197,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1198,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1199,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1200,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1201,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"